<div class="flex flex-wrap my-5 -mx-2">
    <div class="w-full lg:w-1/3 p-2">
        <app-resumen-card iconName="users" title="Total User" text="100"/>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 p-2 ">
        <app-resumen-card iconName="truck" title="Total Product" text="500"/>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 p-2">
        <app-resumen-card iconName="board" title="Total Visitor" text="700"/>
    </div>
</div>
<app-alert type="Info" title="Info alert!" text="Change a few things up and try submitting again." />
<app-alert type="Warn" title="Warning alert!" text="Change a few things up and try submitting again." />
<app-alert type="Danger" title="Danger alert!" text="Change a few things up and try submitting again." />
<app-alert type="Success" title="Success alert!" text="Change a few things up and try submitting again." />